@media screen and (min-width:768px) {

    /* *padding */

    .pt-md-0 {
        padding-top: 0px;
    }

    .p-md-14 {
        padding: 14px;
    }

    .p-md-20 {
        padding: 20px;
    }

    .p-md-60 {
        padding: 60px;
    }

    .pt-md-10 {
        padding-top: 10px;
    }

    .pt-md-15 {
        padding-top: 15px;
    }

    .pt-md-20 {
        padding-top: 20px;
    }

    .pt-md-50 {
        padding-top: 50px;
    }

    .pb-md-10 {
        padding-bottom: 10px;
    }

    .pb-md-15 {
        padding-bottom: 15px;
    }

    .pb-md-20 {
        padding-bottom: 20px;
    }

    .pb-md-30 {
        padding-bottom: 30px;
    }

    .pb-md-50 {
        padding-bottom: 50px;
    }

    .pl-md-7 {
        padding-left: 7px;
    }

    .pl-md-10 {
        padding-left: 10px;
    }

    .pl-md-30 {
        padding-left: 30px;
    }

    .pl-md-20 {
        padding-left: 20px;
    }

    .pl-md-55 {
        padding-left: 55px;
    }

    .pl-md-45 {
        padding-left: 45px;
    }

    .pr-md-7 {
        padding-right: 7px;
    }

    .pr-md-10 {
        padding-right: 10px;
    }

    .pr-md-30 {
        padding-right: 30px;
    }

    .pr-md-20 {
        padding-right: 20px;
    }

    .pr-md-45 {
        padding-right: 45px;
    }

    .pr-md-55 {
        padding-right: 55px;
    }

    /* *margin */
    .mt-md-20 {
        margin-top: 20px;
    }

    .mt-md-60 {
        margin-top: 60px;
    }

    .mt-md-70 {
        margin-top: 70px;
    }

    .mt-md-90 {
        margin-top: 90px;
    }

    .mb-md-10 {
        margin-bottom: 10px;
    }

    .mb-md-25 {
        margin-bottom: 25px;
    }

    .mb-md-40 {
        margin-bottom: 40px;
    }

    .mb-md-400 {
        margin-bottom: 400px;
    }

    .mr-md-20 {
        margin-right: 20px;
    }

    /* *font-size */

    .fs-md-15 {
        font-size: 15px;
    }

    .fs-md-16 {
        font-size: 16px;
    }

    .fs-md-20 {
        font-size: 20px;
    }

    .fs-md-22 {
        font-size: 22px;
    }

    .fs-md-25 {
        font-size: 25px;
    }

    .fs-md-32 {
        font-size: 32px;
    }

    .fs-md-35 {
        font-size: 35px;
    }

    .fs-md-45 {
        font-size: 45px;
    }

    .fs-md-50 {
        font-size: 50px;
    }

    .fs-md-55 {
        font-size: 55px;
    }

    /* *height */

    .h-md-40p {
        height: 40px;
    }

    .h-md-60p {
        height: 60px;
    }

    .h-md-350p {
        height: 350px;
    }

    .h-md-400p {
        height: 400px;
    }

    .hv-md-70 {
        height: 70vh;
    }

    .hv-md-95 {
        height: 95vh;
    }

    .lh-md-25 {
        line-height: 25px;
    }

    .lh-md-35 {
        line-height: 35px;
    }

    .lh-md-55 {
        line-height: 55px;
    }

    /* *width */
    .w-md-15 {
        width: 15%;
    }

    .w-md-17 {
        width: 17%;
    }

    .w-md-20 {
        width: 20% !important;
    }

    .w-md-22 {
        width: 22%;
    }

    .w-md-23 {
        width: 23%;
    }

    .w-md-30 {
        width: 30%;
    }

    .w-md-40p {
        width: 40px;
    }

    /* *border-radius */
    .bradius-md-25 {
        border-radius: 25px;
    }

    .br-top-right-md-0 {
        border-top-right-radius: 0px;
    }

    .br-botton-left-md-10 {
        border-bottom-left-radius: 10px;
    }

    /* *border */
    .b-rgba {
        border: 2px solid rgb(255 255 255 / 30%);
    }

    /* *lados */
    .bottom-neg-md-560 {
        bottom: -560px;
    }

    .bottom-md-140 {
        bottom: 140px;
    }

    .right-md-290 {
        right: 290px;
    }

    .left-md-290 {
        left: 290px;
    }
}

@media screen and (min-width:992px) {

    /* *border */
    .br-lg-grey {
        border-right: 1px solid #848e9f;
    }

    .bb-lg-grey {
        border-bottom: 1px solid #dee2e6;
    }

    /* *text-color */
    .text-light-ld-grey {
        color: #dee2e6;
    }

    /* *margin */
    .m-lg-auto {
        margin: auto;
    }

    .mt-lg-107 {
        margin-top: 107px;
    }

    .mt-lg-100 {
        margin-top: 100px;
    }

    .mt-lg-0 {
        margin-top: 0px;
    }

    .mt-lg-20 {
        margin-top: 20px;
    }

    .mb-lg-250 {
        margin-bottom: 250px;
    }

    .mb-lg-20 {
        margin-bottom: 20px;
    }

    .mr-lg-7 {
        margin-right: 7px;
    }

    .mr-lg-20 {
        margin-right: 20px;
    }

    .ml-lg-20 {
        margin-left: 20px;
    }

    .ml-lg-25 {
        margin-left: 25px;
    }

    .ml-lg-7 {
        margin-left: 7px;
    }


    /* *clases especiales */

    .main-lg-navar {
        font-size: 20px;
        font-weight: bold;
    }

    .main-lg-navar:hover {
        color: #13c5dd;
        border-bottom: 2px solid #13c5dd;
    }

    /* * padding */
    .pl-lg-0 {
        padding-left: 0px;
    }

    .pl-lg-20 {
        padding-left: 20px;
    }

    .p-lg-12 {
        padding-left: 12px;
    }

    .pl-lg-10 {
        padding-left: 10px;
    }

    .pr-lg-0 {
        padding-right: 0px;
    }

    .pr-lg-20 {
        padding-right: 20px;
    }

    .pr-lg-10 {
        padding-right: 10px;
    }

    .pb-lg-100 {
        padding-bottom: 100px;
    }

    .pt-lg-0 {
        padding-top: 0px;
    }

    .pt-lg-100 {
        padding-top: 100px;
    }

    /* *font-size */
    .fs-lg-22 {
        font-size: 22px;
    }

    .fs-lg-20 {
        font-size: 20px;
    }

    .fs-lg-23 {
        font-size: 23px;
    }

    .fs-lg-40 {
        font-size: 40px;
    }

    /* *texto-styles */
    .text-lg-star {
        text-align: start;
    }

    /* *width */
    .w-lg-11 {
        width: 11%;
    }

    .w-lg-13 {
        width: 13%;
    }

    .w-lg-16 {
        width: 16% !important;
    }

    .w-lg-18 {
        width: 18%;
    }

    .w-lg-17 {
        width: 17%;
    }

    .w-lg-23 {
        width: 23% !important;
    }

    .w-lg-55 {
        width: 55%;
    }

    .w-lg-40 {
        width: 40%;
    }

    .w-lg-45 {
        width: 45%;
    }

    .w-lg-60 {
        width: 60%;
    }

    .w-lg-70 {
        width: 70%;
    }

    /* *height */
    .h-lg-90 {
        height: 90vh;
    }

    .lh-lg-30 {
        line-height: 30px;
    }

    /* *lados */
    .bottom-neg-lg-435 {
        bottom: -435px;
    }

    .right-lg-410 {
        right: 410px;
    }

    .left-lg-410 {
        left: 410px;
    }

    /* *clases especiales */
    .objert-fit-lg-cover {
        object-fit: cover;
    }
}

@media screen and (min-width:1200px) {

    /* *background-color */
    .bg-xl-positions-top {
        background-position: top !important;
    }

    /* *border */
    .bb-xl-transparent {
        border-bottom: 1px solid transparent;
    }

    /* *margin */
    .mr-xl-20 {
        margin-right: 20px;
    }

    .ml-xl-20 {
        margin-left: 20px;
    }

    .mt-xl-130 {
        margin-top: 130px;
    }

    .mt-xl-50 {
        margin-top: 50px;
    }

    .mt-xl-30 {
        margin-top: 30px;
    }

    .mb-xl-10 {
        margin-bottom: 10px;
    }

    .mb-xl-35 {
        margin-bottom: 35px;
    }

    .mb-xl-50 {
        margin-bottom: 50px;
    }

    /* *padding */
    .pb-xl-25 {
        padding-bottom: 25px;
    }

    .pb-xl-50 {
        padding-bottom: 50px;
    }

    .pt-xl-25 {
        padding-top: 25px;
    }

    .pt-xl-50 {
        padding-top: 50px;
    }

    .pr-xl-0 {
        padding-right: 0px;
    }

    .pl-xl-0 {
        padding-left: 0px;
    }

    /* *font-size */
    .fs-xl-17 {
        font-size: 17px;
    }

    .fs-xl-24 {
        font-size: 24px;
    }

    .fs-xl-25 {
        font-size: 25px;
    }

    .fs-xl-35 {
        font-size: 35px;
    }

    .fs-xl-50 {
        font-size: 50px;
    }

    .fs-xl-55 {
        font-size: 55px;
    }

    .fs-xl-70 {
        font-size: 70px;
    }

    /* *height */
    .hv-xl-80 {
        height: 80vh;
    }

    .lh-xl-65 {
        line-height: 65px;
    }

    /* *width */
    .w-xl-65 {
        width: 65%;
    }

    .w-xl-60 {
        width: 60%;
    }

    .w-xl-40 {
        width: 40%;
    }

    .w-xl-20 {
        width: 20% !important;
    }

    .w-xl-28 {
        width: 28% !important;
    }

    .w-xl-10 {
        width: 10%;
    }

    .w-xl-16 {
        width: 16%;
    }

    .w-xl-15 {
        width: 15%;
    }

    .w-xl-14 {
        width: 14% !important;
    }

    .w-xl-11 {
        width: 11%;
    }

    /* *lados */
    .left-xl-480 {
        left: 480px;
    }

    .right-xl-480 {
        right: 480px;
    }
}