@font-face {
    font-family: "roboto";
    src: url(../font/Roboto-Medium.ttf), url(../font/Roboto-MediumItalic.ttf), url(../font/Roboto-Regular.ttf);
}


html {
    scroll-behavior: smooth;
}

body {
    color: #848e9f;
    font-family: "roboto";
}


/*? color-text */
.text-aquamarine {
    color: #13c5dd;
}

.text-grey {
    color: #8D98A6;
}

.text-white {
    color: #fff;
}

.text-darkblue {
    color: #1d2a4d;
}

/*  * style de text */
.text-center {
    text-align: center;
}

.text-italy {
    font-style: italic;
}

.text-dnone {
    text-decoration: none;
}

/* ?font-size */
.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-22 {
    font-size: 22px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-35 {
    font-size: 35px;
}

.fs-38 {
    font-size: 38px;
}

/** pack de img*/
.pack-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-position-right {
    background-position: right;
}

/*? backgrounds */
.bg-banner {
    background-image: url(../img/hero.jpg);
}

.bg-white {
    background-color: #fff;
}

.bg-light {
    background-color: #eff5f9;
}

.bg-aquamarine {
    background-color: #13c5dd;
}

.bg-darkblue {
    background-color: #1d2a4d;
}

/* *componentes especiales */
.square-buttom-navar {
    border: 1px solid rgb(0 0 0 / 0.1);
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
}

.button-style-banner {
    color: white;
    font-size: 16px;
}

.button-style-banner:hover {
    background-color: #fff;
    color: black;

}

.circle-ovalo {
    border-radius: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ovalo-aquamarine {
    background-color: #13c5dd;
    border-radius: 50%;
    height: 90px;
    width: 140px;
    margin-bottom: 25px;
}

.button-secundary {
    color: #1d2a4d;
    font-size: 16px;
    padding: 15px 30px;
}

.button-secundary:hover {
    background-color: #1d2a4d;
    color: #fff;
}

.form {
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 10px;
    outline: none;
}

.form:focus {
    box-shadow: 0px 0px 5px 3px #13c5dd;
}

.sumit-button {
    border: 1px solid transparent;
    padding: 20px;
    outline: none;
    border-radius: 10px;
}

.cape {
    background-color: rgb(29 42 77 / 80%) !important;
    width: 100%;
    height: 100%;
    bottom: 1px;
}

.bg-carrusel {
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #13c5dd;
}

.buttom-fixed {
    background-color: #13c5dd;
    padding: 15px;
    border: 1px solid #13c5dd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* ?border-radius */
.br-10 {
    border-radius: 10px;
}

.br-50 {
    border-radius: 50%;
}

.br-30p {
    border-radius: 30px;
}

.br-15 {
    border-radius: 15px;
}

.br-10 {
    border-radius: 10px;
}

.btr-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* * border */
.b-rgba {
    border: 4px solid rgb(255 255 255 / 30%);
}

.b-transparent {
    border: 2px solid transparent;
}

.b-white {
    border: 1px solid white;
}

.b-darkblue {
    border: 1px solid #1d2a4d;
}

.bt-1-grey-light {
    border-top: 1px solid #dee2e6
}

.bt-2-grey-light {
    border-top: 2px solid #dee2e6;
}

.b-light {
    border: 1px solid #eff5f9;
}

.bb-aquamarine {
    border-bottom: 1px solid #13c5dd;
}

.bb-grey-7 {
    border-bottom: 7px solid #dee2e6;
}

.bb-dark-blue {
    border-bottom: 7px solid #354f8e;
}

.bb-dark-blue-1 {
    border-bottom: 1px solid #354f8e;
}

.bw-5p {
    border-width: 5px;
}

/* outline */

.outline-none {
    outline: none;
}

/* ? margin */

.m-auto {
    margin: auto;
}


.mt-200 {
    margin-top: 200px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-90 {
    margin-top: 90px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-20 {
    margin-left: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-100 {
    margin-bottom: 100px;
}



.mr-20 {
    margin-right: 20px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-3 {
    margin-right: 3px;
}

/* * padding */
.p-10 {
    padding: 10px;
}

.p-12 {
    padding: 12px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-37 {
    padding: 37px;
}

.p-50 {
    padding: 50px;
}

.p-40-15 {
    padding: 40px 15px;
}

.p-20-40 {
    padding: 20px 40px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-7 {
    padding-left: 7px;
}

.pr-7 {
    padding-right: 7px;
}

/* ?height */
.h-50vh {
    height: 50vh;
}

.h-70vh {
    height: 70vh;
}

.h-530p {
    height: 530px;
}

.h-60p {
    height: 60px;
}

.h-45p {
    height: 45px;
}

.h-40p {
    height: 40px;
}

.min-h-500 {
    min-height: 500px;
}

.lh-40 {
    line-height: 40px;
}

.lh-25 {
    line-height: 25px;
}

.lh-22 {
    line-height: 22px;
}

.lh-35 {
    line-height: 35px;
}

.lh-30 {
    line-height: 30px;
}

/* *width */
.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-48 {
    width: 48%;
}

.w-68 {
    width: 68%;
}

.w-45 {
    width: 45%;
}

.w-35 {
    width: 35%;
}

.w-30 {
    width: 30%;
}

.w-45p {
    width: 45px;
}

.w-60p {
    width: 60px;
}

.w-85p {
    width: 85px;
}

.w-130p {
    width: 130px;
}

.w-140p {
    width: 140px;
}

.w-150p {
    width: 150px;
}

.w-165p {
    width: 165px;
}

/* ?lados */

.top-0 {
    top: 0;
}

.bottom-0 {
    bottom: 0px;
}

.bottom-30 {
    bottom: 30px;
}

.bottom-230p {
    bottom: 230px;
}

.bottom-260p {
    bottom: 260px;
}

.bottom-neg-360 {
    bottom: -360px;
}

.bottom-neg-25 {
    bottom: -25px;
}

.left-115 {
    left: 115px;
}

.left-43 {
    left: 43px;
}

.right-115 {
    right: 115px;
}

.right-30 {
    right: 30px;
}

.br-right-corner {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.br-left-corner {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* rotacion */
.transfor-rotate-13 {
    transform: rotate(13deg);
}

.transfor-rotate--14 {
    transform: rotate(-14deg);
}

/* box-shadow */
.box-right-aquamarine {
    box-shadow: -2px 0px 5px #13c5dd;
}

/* lista */
.lis-style-none {
    list-style: none;
}